<link rel="stylesheet" type="text/css" href="styles.css">

Single entry:
<form>
  Name: <input type="text">
  Date: <input type="date">
  Code: <input type="text">
  <button class="singleSubmit">Submit</button>
</form>

Multiple entries:
<form>
  <textarea name="txtInput" rows="20" cols="60" class="input"></textarea>
  <button class="multipleSubmit">Submit</button>
</form>
